/*----------Global----------*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/*----------Main & Back----------*/
.main{
    width: 100vw;
    height: 100vh;
    background-image: url(back-main.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    
}

/*----------Nav----------*/
 .nav-back{
    width: 100vw;
    height: 90px;
    background-color: rgba(14, 2, 2, 0.8);
    opacity: 0.3;
}
.nav{
    width: 100vw;
    top: 0;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
 }
 .navL{
    width: 100px;
    /* background-color: blue; */
     color: white;
    z-index: 1;
    margin:8px 0 0 30px; 
}   
.navR{
    width: 100px;
    /* background-color: brown; */
    color: white;
    z-index: 1;
    margin-right: 30px;
    
}
.navR p{
    font-size: 20px;
     margin-right: 4px;
  
} 
.navR i{
    margin-left: 5px;
}

/*---------Centr & Centrtext---------*/
 .centr-container{
     width: 100vw;
     height: 37vh;
     /* background-color: rgb(172, 52, 52); */
     margin-top: 180px;
     display: flex;
     align-items: center;
    justify-content: center;    
 }
.centr{
    width: 70%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
} 
.centr-text{
    position: absolute;
    bottom: 200px;
    left: 30%;
    
}
.centr-text h1, .centr-text p{
    color: white;
}
.centr-text h1{
    font-size: 100px;
    /* top: 40px; */
}
.centr-text p{
    font-size: 35px;
    margin-bottom: -40px;
    margin-left: 110px;
}
.download{
    margin-left: 48%;
    margin-top: 70px;
    background-color: rgb(247, 41, 14);
    font-size: 25px;
    padding: 5px;
    color: white;
    border: none;
    outline: none;
}